# Contact form API endpoint
VITE_API_CONTACT_URL=https://nf9.in/wp-json/nf9/v1/contact

# Google reCAPTCHA v3 site key
VITE_RECAPTCHA_SITE_KEY=6LdXhpIsAAAAABNBdTI04Oq-gU2OVFHVx8nHQXNh

# WP API URL (if used)
VITE_WP_API_URL=https://nf9.in/wp-json
