/* ================= ROOT ================= */

:root {
  --col1: #000000;
  --col2: #ffffff;
  --font-heading: "Satoshi", sans-serif;
  --font-body: "Inter", sans-serif;
}

/* ================= WRAPPER ================= */

.homeWrap {
  width: 100%;
  height: 100vh;
  overflow: visible;
}

/* ================= HERO ================= */

.hero {
  position: relative;
  width: 100%;
  height: 100vh;
  background: transparent;
  isolation: isolate;
}

/* ================= VIDEO ================= */

.heroVideo {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 0;
}


/* ================= CONTENT ================= */

.heroContent {
  position: relative;
  z-index: 3;
  height: 100%;
  display: flex;
  font-size: clamp(4rem, 14vw, 8rem);
  font-weight: 900;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  pointer-events: none;

  /* IMPORTANT FOR BLEND MODE */
  isolation: isolate;
}

/* ================= MAIN TITLE ================= */

.heroContent {
  position: relative;
  z-index: 1;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  pointer-events: none;
  color: white;
  mix-blend-mode: difference;
}

/* ================= MOBILE ================= */

@media (max-width: 768px) {
  .heroTitle {
    font-size: clamp(2rem, 14vw, 5rem);
  }
}
